@{
    ViewBag.Title = "History - ";
}
    <div class="wrapper">
        <button type="button" class="back" onclick="document.location.href = '/Home/Index'">Back</button>
        <div class="content result">
            <table>
                <tr>
                    <th colspan="7">Past entered parameters</th>
                </tr>
                <tr>
                    <th>UserDataId</th>
                    <th>RangeFrom</th>
                    <th>RangeTo</th>
                    <th>Step</th>
                    <th>A</th>
                    <th>B</th>
                    <th>C</th>
                </tr>
                @foreach (var d in ViewBag.UserDatas)
                {
                    <tr>
                        <td>@d.UserDataId</td>
                        <td>@d.RangeFrom</td>
                        <td>@d.RangeTo</td>
                        <td>@d.Step</td>
                        <td>@d.A</td>
                        <td>@d.B</td>
                        <td>@d.C</td>
                    </tr>
                }
            </table>
        </div>
        <div class="content result">
            <table>
                <tr>
                    <th colspan="4">Past points</th>
                </tr>
                <tr>
                    <th>PointId</th>
                    <th>ChartId</th>
                    <th>PointX</th>
                    <th>PointY</th>
                </tr>
                @foreach (var p in ViewBag.Points)
                {
                    <tr>
                        <td>@p.PointId</td>
                        <td>@p.ChartId.UserDataId</td>
                        <td>@p.PointX</td>
                        <td>@p.PointY</td>
                    </tr>
                }
            </table>
        </div>
    </div>